h1 {
 text-align: center
}
ol{ 
 display: inline-block;
 vertical-align: middle;
 width: 50%;
}

li{
 display: block;
 border: 1px solid red;
 margin-bottom: 10px;
 margin-reft: 0%;
 border-top-left-radius: 20px;
 border-top-right-radius: 0px;
 border-bottom-right-radius: 0px;
 border-bottom-left-radius: 20px;
 margin: 0 0 10px auto;
}

.col2{ 
 display: inline-block;
 border: 1px solid red;
 vertical-align: middle;
 height: 40%;
 border-radius: 0 285px 285px 0;
 border-right: 1px solid
}

p{
 border: 1px solid red;
}
