h1 {
 text-align: center
}
.text2cols {
white-space: nowrap;
}

.text2cols-item {
white-space: normal;
display: inline-block;
width: 48%;
vertical-align: top;
background: #fff2e1;
}

li{
border: 1px solid red;
padding: 10px;
}
